[Unit]
Description=Launches mountstatus.service every 5 seconds

[Timer]
OnUnitActiveSec=5s
Unit=mountstatus.service

[Install]
WantedBy=timers.target
