[Unit]
Description=Launches mountstatus.service every 3 seconds

[Timer]
OnUnitActiveSec=3s
Unit=mountstatus.service

[Install]
WantedBy=timers.target
